{% extends 'baseAdmin.html.twig' %} {% block title %}Hello AdminController!{%
endblock %} {% block body %}

<ul>
  <li><a class="btn btn-outline-primary" href="">Ajouter un projet</a></li>
  <br />
  <li><a class="btn btn-outline-success" href="">Voir les projets</a></li>
</ul>

{% endblock %}
